<!doctype html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>

<body>
    <%- include('partials/nav') %>

    <div class="container"> 
        <div class="col-12 text-center">
            <%- chart %>
        </div>
        
    </div>
    

<hr>

</body>

</html>