<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/nav') %>
   <div id="results">
        <img src="/public/images/<%= team %>.jpeg" alt="Dynamic Image">

   </div>
    <%- include('partials/footer') %>
  </body>
</html>
