/* Class Styles */
.header-container {
    margin-top: 4rem;
}
/* Element Styles */

/* Html Styles */
body {
    background-color: #d8e6e8;
}

#but {
    color: red
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}